#box{
    height: 100px;
    width: 400px;
    background-color: pink;

    animation-name:sami;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    /* animation-iteration-count: 4; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sami {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

#color{
    height: 100px;
    width: 400px;
    background-color: pink;

    animation-name:Sani;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes Sani{
    from{
        background-color: pink;
    }
    to{
        background-color: blue;
    }
}


#All{
    height: 100px;
    width: 400px;
    background-color: pink;
    animation: AllAnimation 2s linear 3s infinite alternate;

}

@keyframes AllAnimation{
    from{
        background-color: pink;
        color: black;
        width: 10px;
        height: 10px;
        border: 2px solid black;
        border-radius: 0%;
    }
    to{
        background-color: aqua;
        color: white;
        width: 600px;
        height: 300px;
        border: 5px solid red;
        border-radius: 20px;
    }
}