.container{
    height: 600px;
    width: 600px;
    background-color: yellow;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px ;
    grid-template-columns: 200px 200px 200px ;
}
.item{
    /* height: 100px;
    width: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}