.container{
    height: 300px;
    width: 600px;
    background-color: yellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.item{
    /* height: 50px;
    width: 100px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
#one{
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-column: 1/4; */
    /* grid-column: 1/span 3;  all three are same */ 

}