h1{
    background-color: yellow;
    border: 2px solid black;
}

@media (width:400px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        background-color: blue;
        height: 100px;
        width: 100px;
    }
}

@media (min-width:700px) {
    h1{
        background-color: aqua;
        color: azure;
    }
}

@media(max-width:200px){
    h1{
        background-color: yellowgreen;
        color: brown;
    }
}

@media (min-width:201px) and (max-width:399px) {
    h1{
        background-color: dimgrey;
        color: khaki;
    }
}

@media (orientation:landscape){
    h1{
        background-color: black;
        color: white;
    }
}