.card{
    width: 400px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 30px black; 
}
h2{
    color: blue;
}
span{
    color: red;
}
h3{
    text-align: center;
    color: aqua;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
p{
    text-align: justify;
}

@media (min-width:375px) {
    #pets{
        flex-wrap: wrap;
    }
}