#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    /* align-items:baseline; */
    /* align-content:center; */
    align-content: baseline;

    
}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}