#outer{
    height: 400px;
    width: 400px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#one{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-size: 50px;
}
#two{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#three{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#four{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#five{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#six{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#seven{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#eight{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}
#nine{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
}