#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items:baseline; */
    align-content:flex-start;
}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}
#pink{
    align-self: flex-start;
    /* flex-basis: 50px; */
    flex-grow: 1;
}
#blue{
    /* flex-basis: 500px; */
    flex-grow: 2; 
    /* max-width: 400px; */
    min-width: 400px; 
}