div{
    text-align: justify;
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
    border-top-color: red;
    border-bottom-color: blue;
    border-right-color: green;
    border-bottom-style: dotted;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-radius: 50%; */
    /* margin-bottom: 50px; */
    margin:10px 20px 30px 40px;
}
h1{
    text-align: center;
    border-width: 5px;
    border-style: dotted;
    border-color: green;
    margin-bottom: 50px;
}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: aqua;
    margin-top: 50px;
    margin-left: 800px
}