div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    background-color: aqua;
    display: inline-block;

}
/* #myid{
    display: none;
} */