*{
    font-family: sans-serif;
}
h1, h3{
    color: #b92b7b;
}
#login{
    background-color: #b92b7b;
    color: white;
}
#signup{
    background-color: #b92b7b;
    color: white;
}
.upvote{
    background-color: green;
    color: blue;
}
/* Descendant selector */
.post a{
    color: purple;
    background-color: yellow;
}
#google a{
    text-decoration: none;
}
nav ul li a{
    color:red;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: burlywood;
    color: blue;
}
div>input{
    background-color: darkorchid; 
}
input[type="text"] {
    color: green;
}
input[type="password"] {
    color: red;
}
input[type]{
    background-color: aqua;
}
button:hover{
    color: white;
    background-color: black;
}
h3:hover{
    text-decoration: chartreuse overline;
}
button:active{
    background-color: hotpink;
    color: black;
}
p:hover{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked+label{
    color: #b92b7b;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: chartreuse;
}

h1::first-letter{
    color: green;
}

p::first-line{
    color: #b92b7b;
}

p::selection{
    color: red;
}

h3{
    color: #b92b7b;
}

nav ul li a{
    text-decoration: none;
}

.follow{
    text-decoration: none;
}