#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h3,h5{
    font-family: Georgia;
}
/* #para{
    color: white;
    background-color: cornflowerblue;
} */

button{
    color: azure;
    background-color: purple;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(1n){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label{
    color: darkgreen;
}

